/* {
	border:2px dashed red;
}*/
body {
	background-color:#00CCFF;
}
nav {
	height:50px;
	width:600px;
	margin:0;
}
table {
	background-color:white;
	margin:auto;
}
div {
	margin:auto;
}
p {
	text-align:center;
	margin:2px;
	color:white;
}
#Dashboard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    background: #cf0;
    text-align: center;
}
#TheText {
    margin-top: 40px;
}
.box {
    border: 3px solid #080;
    padding: 0.5em;
    margin: 1em;
/*    margin-top: 40px; */
}
.fixed {
	z-index:500;
	position:fixed;
	display:block;
	color:white;
}
.navLinks {
	position:relative;
	display:inline-block;
	height:50px;
	width:100px;
	left:400px;
	text-align:center;
	color:white;
	background-color:blue;
}
#tables {
	position:relative;
	display:block;
}
#images {
	position:relative;
	height:200px;
	margin-bottom:41px;
}
#ext_img {
	position:relative;
	display:block;
}
.external_images {
	position:relative;
	display:inline-block;
	height:200px;
	width:141px;
}
#three_ext_links {
	position:relative;
	display:block;
}
#fifteen_img {
	position:relative;
	display:block;
}
.fifteen_img {
	display:inline-block;
}
#h_and_div {
	Border:2px solid black;
	width:401px;
	background-color:white;
}
#h_tags {
}
.h {
	display:inline-block;
	border:2px solid black;
	background-color:red;
}
#download {
	height:50px;
	width:160px;
	background-color:blue;
}
#interactive {
	height:50px;
	width:160px;
	background-color:blue;
}
#interactive:hover {
	background-color:green;
}
#three_int_obj {
	width:100%;
}
.interactive {
	height:50px;
	width:160px;
	background-color:red;
}
.interactive:hover {
	background-color:green;
}
#footer {
	display:block;
	height:50px;
	width:100%;
	background-color:grey;
	left:0;
	bottom:0;
}
#footer p {
	text-align:center;
	bottom:0;
}